<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <div id="main">
        <div id="nav">
            <i class="ri-apple-fill"></i> 
    <a href="/">Store</a><a href="">Only on Apple</a><a href="/ipad">iPad</a><a href="/iphone">iPhone</a><a href="/watch">Watch</a><a href="">AirPods</a><a href="">TV & Home</a><a href="">Accessories</a><a href="">Support</a>
    <i class="ri-search-line"></i>
    <i class="ri-shopping-bag-line"></i>
        </div>
        <div id="home">
            <div id="left">
         <div id="photo"></div>
            </div>
        <h1>iPad</h1>
        <h2>Lovable.Drawable.Magical.</h2>
        <div id="text">
            <a href="">Learn more <i class="ri-arrow-right-s-line"></i> </a><a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
        </div>  
        </div>
        <div id="sec">
            <div id="text2">
            <h1>iPhone 14 Pro</h1>
            <h3>Pro.Beyond.</h3>
            <div id="text3">
                <a href="">Learn more <i class="ri-arrow-right-s-line"></i> </a><a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
            </div>
            </div>
            <div id="photo2"></div>
            
        </div>
        <div id="third">
            <div id="text4"> 
            <h1>iPhone 14</h1>
            <h3>Big and bigger</h3>
            <div id="text5">
                <a href="">Learn more <i class="ri-arrow-right-s-line"></i> </a><a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
            </div>
        </div>
        <div id="photo3"></div>
        </div>
        <div id="fourth">
            <div id="left">
                <h1>iPad Pro</h1>
                <h3>Supercharged by <img src="https://www.apple.com/v/ipad-pro/al/images/overview/chip/m2_start_state__bt83pgdysr1e_large.jpg" alt="" width="30"px height="30px"></h3>
                <div id="text6">
                    <a href="">Learn more<i class="ri-arrow-right-s-line"></i></a>
                    
                    <a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
                </div>
                <div id="photo4"></div>
            </div>
            <div id="right">
                 
                    <div id="photo5"></div>
                    <h1>The Apple experience.</h1>
                    <h2>Cinematic in every sense.</h2>
                    <div id="text7">
                        <a href="">Learn more<i class="ri-arrow-right-s-line"></i></a>
                        
                        <a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
                    </div>
                    <div id="photo6"></div>
            </div>

        </div>
        <div id="fifth">
            <div id="left2">
                <div id="photo8"></div>
                <h6>ultra</h6>
                <h5>Adventure awaits.</h5>
                <div id="text8">
                    <a href="">Learn more<i class="ri-arrow-right-s-line"></i></a>
                    
                    <a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
                </div>
                <div id="photo7"></div>
            </div>
            <div id="right2">
                <div id="photo10"></div>
                <h6>series 8</h6>
                <h5>A healthy leap ahead.</h5>
                <div id="text9">
                    <a href="">Learn more<i class="ri-arrow-right-s-line"></i></a>
                    
                    <a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
                </div>
                <div id="photo9"></div>
            </div>
        </div>
        <div id="sixth">
            <div id="left3">
                <h1>MacBook Air</h1>
                <h3>Supercharged by <img src=" https://www.apple.com/v/macbook-air-m2/b/images/overview/hero/hero_chip_start__dy2qtrm9clw2_large.jpg" alt="" width="30"px height="30px"></h3>
                <div id="text10">
                    <a href="">Learn more<i class="ri-arrow-right-s-line"></i></a>
                    
                    <a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
                </div>
             <div id="photo11"></div>
            </div>
        <div id="right3">
            <h1>AirPods Pro</h1>

            <h3> Rebuilt from the sound up.</h3>
            <div id="text11">
                <a href="">Learn more<i class="ri-arrow-right-s-line"></i></a>
                
                <a href="">Buy <i class="ri-arrow-right-s-line"></i></a>
            </div>
            <div id="photo12"></div>
        </div>
        </div>
    </div>
</body>
</html>